In [1]:
import pandas as pd
import numpy as np

In [2]:
customers_orders = pd.read_csv('Orders - Analysis Task.csv')

In [3]:
customers_orders.head()

,product_title,product_type,variant_title,variant_sku,variant_id,customer_id,order_id,day,net_quantity,gross_sales,discounts,returns,net_sales,taxes,total_sales,returned_item_quantity,ordered_item_quantity
0,DPR,DPR,100,AD-982-708-895-F-6C894FB,52039657,1312378,83290718932496,04/12/2018,2,200.0,-200.00,0.00,0.0,0.0,0.0,0,2
1,RJF,Product P,28 / A / MTM,83-490-E49-8C8-8-3B100BC,56914686,3715657,36253792848113,01/04/2019,2,190.0,-190.00,0.00,0.0,0.0,0.0,0,2
2,CLH,Product B,32 / B / FtO,68-ECA-BC7-3B2-A-E73DE1B,24064862,9533448,73094559597229,05/11/2018,0,164.8,-156.56,-8.24,0.0,0.0,0.0,-2,2
3,NMA,Product F,40 / B / FtO,6C-1F1-226-1B3-2-3542B41,43823868,4121004,53616575668264,19/02/2019,1,119.0,-119.00,0.00,0.0,0.0,0.0,0,1
4,NMA,Product F,40 / B / FtO,6C-1F1-226-1B3-2-3542B41,43823868,4121004,29263220319421,19/02/2019,1,119.0,-119.00,0.00,0.0,0.0,0.0,0,1

In [4]:
customers_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70052 entries, 0 to 70051
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   product_title           70052 non-null  object
 1   product_type            70052 non-null  object
 2   variant_title           70052 non-null  object
 3   variant_sku             70052 non-null  object
 4   variant_id              70052 non-null  int64
 5   customer_id             70052 non-null  int64
 6   order_id                70052 non-null  int64
 7   day                     70052 non-null  object
 8   net_quantity            70052 non-null  int64
 9   gross_sales             70052 non-null  float64
 10  discounts               70052 non-null  float64
 11  returns                 70052 non-null  float64
 12  net_sales               70052 non-null  float64
 13  taxes                   70052 non-null  float64
 14  total_sales             70052 non-null  float64
 15  returned_item_quantity  70052 non-null  int64
 16  ordered_item_quantity   70052 non-null  int64
dtypes: float64(6), int64(6), object(5)
memory usage: 9.1+ MB

In [5]:
customers_orders.describe().T

,count,mean,std,min,25%,50%,75%,max
variant_id,70052.0,2.442320e+11,4.255079e+12,1.001447e+07,2.692223e+07,4.494514e+07,7.743106e+07,8.422212e+13
customer_id,70052.0,6.013091e+11,6.223201e+12,1.000661e+06,3.295695e+06,5.566107e+06,7.815352e+06,9.977409e+13
order_id,70052.0,5.506075e+13,2.587640e+13,1.000657e+13,3.270317e+13,5.522207e+13,7.736876e+13,9.999554e+13
net_quantity,70052.0,7.011791e-01,7.394969e-01,-3.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00
gross_sales,70052.0,6.177630e+01,3.180069e+01,0.000000e+00,5.167000e+01,7.417000e+01,7.917000e+01,4.450000e+02
discounts,70052.0,-4.949904e+00,7.769972e+00,-2.000000e+02,-8.340000e+00,0.000000e+00,0.000000e+00,0.000000e+00
returns,70052.0,-1.024605e+01,2.515468e+01,-2.375000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
net_sales,70052.0,4.658035e+01,5.180269e+01,-2.375000e+02,4.708000e+01,6.333000e+01,7.417000e+01,4.450000e+02
taxes,70052.0,9.123636e+00,1.030524e+01,-4.750000e+01,8.375000e+00,1.266000e+01,1.484000e+01,6.334000e+01
total_sales,70052.0,5.570398e+01,6.192056e+01,-2.850000e+02,5.622750e+01,7.600000e+01,8.900000e+01,4.450000e+02
returned_item_quantity,70052.0,-1.560983e-01,3.691905e-01,-3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
ordered_item_quantity,70052.0,8.572775e-01,3.808199e-01,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+00

## **Se filtran los datos teniendo en cuenta los clientes que han hecho compras**

In [16]:
customers_orders = customers_orders[customers_orders['ordered_item_quantity'] > 0]

**La Base de Datos de trabajo cuenta conel siguiente número de entradas:**

In [17]:
len(customers_orders)

59337

# Feature engineering